<button (click)="AddGateway()"><span>Add Gateway</span></button>


<nz-table #editRowTable nzBordered [nzData]="gateways" nzTableLayout="fixed">
  <thead>
  <tr>
    <th></th>
    <th nzWidth="15%">Name</th>
    <th nzWidth="40%">Ipv4</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <ng-template ngFor let-data [ngForOf]="editRowTable.data">
    <tr>
      <td [(nzExpand)]="data.expand"></td>
      <td>{{ data.name }}</td>
      <td>{{ data.iPv4 }}</td>
      <td>
        <button nz-button [nzType]="'primary'" (click)="showModal(data.id)"><span>Add Peripheral</span></button>
      </td>
    </tr>
    <!-- -------------------------------------------------------------------------------------------------------- -->
    <tr [nzExpand]="data.expand">
      <nz-table #innerTable [nzData]="data.peripheral" nzSize="middle" [nzShowPagination]="false">
  <thead>
  <tr>
    <th>Vendor</th>
    <th>CreatedAt</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of innerTable.data">
    <td>{{ data.vendor }}</td>
    <td>{{ data.createdAt }}</td>
    <td>{{ data.statusName }}</td>
    <td>
      <button nz-button [nzType]="'primary'" (click)="DeleteDevice(data.id)"><span>Delete</span></button>
    </td>
    <td>
      <nz-badge [nzStatus]="'success'" [nzText]="'Finished'"></nz-badge>
    </td>
    <!-- <td>{{ data.upgradeNum }}</td> -->
  </tr>
  </tbody>
  </ng-template>
</nz-table>



<nz-modal [(nzVisible)]="isVisible" nzTitle="Add Gateway" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <form #itemForm="ngForm" class="login_form" (ngSubmit)="onSubmit(itemForm)" class="container">
    <div class="field" >
      <div class="field">
        <div class="control">
          <input class="center-block" name="Vendor" type="text" placeholder="Vendor"
                 [ngModel]="vendor.Vendor">
        </div>
      </div>
      <div class="columns is-centered">
        <button class="button is-green subBtn">Submit</button>
      </div>
    </div>
  </form>
</nz-modal>

<nz-modal [(nzVisible)]="isVisible2" nzTitle="Add Gateway" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
  <form #itemForm2="ngForm" class="login_form" (ngSubmit)="onSubmit2(itemForm2)" class="container">
    <div class="field" >
      <div class="field">
        <div class="control">
          <input class="center-block" name="Name" type="text" placeholder="Name"
                 [ngModel]="gateway.Name">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="center-block" name="IPv4" type="text" placeholder="IPv4"
                 [ngModel]="gateway.IPv4">
        </div>
      </div>
      <div class="columns is-centered">
        <button class="button is-green subBtn">Submit</button>
      </div>
    </div>
  </form>
</nz-modal>
